<h1>Bonjour <%= @request.first_name %></h1>
<p>Nous vous remercions pour votre intérêt ! Vous y êtes presque !</p>
<a>Valider l'adresse et entrer dans la liste d'attente</a>
<p>A très vite !</p>
<p>L'équipe Coworking</p>

