<h1>Bonjour <%= @request.first_name %></h1>
<p>Nous sommes navrés pour cette attente, vous êtes .. sur ....</p>
<p>Vous voulez toujours nous rejoindre ?</p>
<a>Confirmer votre place</a>
<p>Dans le cas contraire, votre nom sera retiré de la liste d'attente.</p>
<p>L'équipe Coworking</p>

