<h1>Bienvenue chez Coworking <%= @request.first_name %></h1>
<p>Excellente nouvelle, l'attente est terminée, vous avez décroché votre place chez Coworking!</p>
<p>Afin de conserver votre place, n'oubliez pas de la confirmer chaque mois !</p>
<p>A très vite dans nos locaux !</p>
<p>L'équipe Coworking</p>

