<h1>Bienvenue chez S'pace Coworking <%= @request.first_name %></h1>
<p>Excellente nouvelle, l'attente est terminée, vous avez décroché votre place chez S'pace Coworking!</p>
<p>Un contrat va vous être envoyé et une fois signé, il sera renouvellé automatiquement chaque mois</p>
<p>A très vite dans nos locaux !</p>
<p>L'équipe S'pace Coworking</p>

