<h1>Bienvenue sur l'espace Coworking</h1>
<p>Victime de son succès, toutes les places sont pourvues pour le moment.</p>
<p>Cependant, une Liste d'attente est mise en place et si vous désirez faire partie de l'aventure, remplissez le formulaire ci-dessous !</p>
<%= render "form", request: @request %>