<div class="container redirect-page">
    <div class="content">
        <h1>Vous y êtes presque !</h1>
        <p>Nous vous remercions pour votre intérêt !  </p>
        <p>Il ne vous reste plus qu'à confirmer votre adresse email afin d'entrer dans la liste d'attente !</p>
        <p>Pour celà, vérifiez votre boîte email (ou vos spams), et cliquez sur le lien qui vient de vous être envoyé</p>
        <p>A très vite !</p>
        <p>L'équipe S'pace Coworking</p>
    </div>
    <div class="image">
        <%=image_tag("girl_waiting.jpg")%>
    </div>
</div>