<div class="container">
    <h1>Vous y êtes presque !</h1>
    <p>Nous vous remercions pour votre intérêt !  </p>
    <p>Il ne vous reste plus qu'à confirmer votre adresse email afin d'entrer dans la liste d'attente !</p>
    <p>Pour celà, vérifiez votre boîte email (ou vos spams), et cliquez sur le lien qui vient de vous être envoyé</p>
    <p>A très vite !</p>
</div>