<div class="container redirect-page">
    <div class="content">
        <h1>Vous y êtes presque !</h1>
        <p>Demande (re)confirmée !</p>
        <p>Vous allez recevoir un email vous indiquant votre place dans la file d'attente.</p>
        <p>A très vite !</p>
        <p>L'équipe S'pace Coworking</p>
    </div>
    <div class="image">
        <%=image_tag("waiting.jpg")%>
    </div>
</div>